body {
    font-family: sans-serif;
    text-align: center;
    padding: 2rem;
    margin: 0;
    background-color: #f8f8f8;
    padding: 0;
  }

  .page-content {
    margin-left: 2rem;
    margin-right: 2rem;
  }  

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1rem;
    margin-bottom: 2rem;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  input {
    font-size: 1rem;
    padding: 0.75rem;
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
    box-sizing: border-box;
  }
  .team-button {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    margin: 0.5rem auto;
    display: block;
  }

a {
  text-decoration: none;
}

  .red-button {
    background-color: #e53935;
  }

  .red-button:hover {
    background-color: #c62828;
  }

  .blue-button {
    background-color: #1e88e5;
  }

  .blue-button:hover {
    background-color: #1565c0;
  }
  button {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }
  #error {
    color: red;
    margin-top: 1rem;
  }
  #clue {
    display: none;
    margin-top: 2rem;
    color: green;
    font-size: 1.2rem;
  }

  .good-info {
    margin-top: 2rem;
    color: green !important;
    font-size: 1.2rem;
    background-color: antiquewhite !important;
    padding: 3rem;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
    box-sizing: border-box;
  }

  #nextLink {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }

  .redteam {
    color: red;
  }

  .blueteam {
    color: #1e88e5;
  }

  .italic {
    font-style: italic;
  }

  li {
    padding-top: 2rem;
  }

  #footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 1rem;
  }
  
  
  #footer a {
    color: white;
    text-decoration: none;
  }
  
  #footer a:hover {
    text-decoration: underline;
  }
  